<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="log4j2.xsd" status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{dd-MM-yyyy HH:mm:ss} %-5level %c{1} - %msg%n"/>
        </Console>

        <File name="LogFile"
              fileName="logs/ipl.log"
              append="true">
            <PatternLayout
                pattern="%d{dd-MM-yyyy HH:mm:ss} %-5level %c{1} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>
